:root {
    --bg: #212121;
	--work: #7CB342;
    --text: #FAFAFA;
    --text-gray: #BDBDBD;
	--break:   #FF5722;
	--hover: #B0BEC5;
}

body {
  	background: var(--bg);
	margin-top: 5%;
	font-family: "Sans Serif";
    margin-left: auto;
	margin-right: auto;
    width: 100%;
    height: 100%;
}

.header {
	text-shadow: 2px 2px 6px rgba(120, 144, 156, 0.33);
	text-align: center;
	color: var(--text);
	margin-left: auto;
	margin-right: auto;
}

.settings {
	text-shadow: none;
	padding-top: 20px;
	
}

.settings h3 {
	font-size: 1.4em;
	font-weight: 100;
	color: var(--text);
}

.work {
	display: inline-block;
	margin-right: 20px;
}

.work-plus {
	margin-left: 10px;
	margin-right: 10px;
}

.work-minus {
	margin-left: 10px;
	margin-right: 10px;
}

.break {
	display: inline-block;
	margin-left: 20px;
}

.break-plus {
	margin-left: 10px;
	margin-right: 10px;
}

.break-minus {
	margin-left: 10px;
	margin-right: 10px;
}

hr {
	max-width: 250px;
    width: 50vw;
	border-top: 1px var(--text) solid;
}

.pomodoro {
	border: 3px var(--work) solid;
	border-radius: 50%;
	text-align: center;
	color: var(--text);
	max-width: 250px;
	max-height: 250px;
    height: 100vh;
    width: 100vw;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.filler {
	padding-top: 35px;
	border-radius: 50%;
	border: 3px var(--bg) solid;
	background: var(--bg);
	position: absolute;
   	height: 240px;
   	width: 240px;
   	top: 50%;
   	left: 50%;
   	margin: -120px 0px 0px -120px;
	
}

.clickable {
  	cursor: pointer;
  	color: var(--text);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.clickable:hover {
  	color: var(--hover);
	text-shadow: 1px 1px 6px rgba(120, 144, 156, 0.25);
}

.counter {
    color: var(--text-gray);
    text-align: center;
    font-size: 1.5em;
}

.reset {
	text-align: center;
}

footer {
	color: var(--text);
	text-align: center;
}

.long-break-plus {
	margin-left: 5px;
	margin-right: 5px;
}

.long-break-minus {
	margin-left: 5px;
	margin-right: 5px;
}

.setting-lb {
    text-align: center;
    color: var(--text);
}

footer a {
	color: var(--work);
}

footer a:hover {
	color: var(--hover);
}

@media (max-width: 768px) {
    
    .settings {
        padding-top: 10px;
    }
    
    .settings h3 {
        font-size: 1em;
    }

    .counter {
        font-size: 1em;
    }

    .work h2 {
        font-size: 1.5em;
    }

    .break h2 { 
        font-size: 1.5em;
    }
	   
    .reset h3 {
        font-size: 1.3em;
    }
    
    .setting-lb p {
        font-size: 0.9em;
    }

    footer small {
        font-size: 0.75em;
    }
    
}

@media (max-width: 640px) {
    
    .pomodoro {
        max-width: 200px;
        max-height: 200px;
    }

    .filler {
        padding-top: 5px;
   	    height: 190px;
   	    width: 190px;
   	    margin: -95px 0px 0px -95px;
    }
    
}

@media (max-width: 240px) {
    
    body {
        line-height: 3px;
    }
    
    .header h1 {
        font-size: 1.5em;
    }
    
    .settings {
	   padding-top: 0px;
    }

    .settings h3 {
	   font-size: 1em;
    }

    .work {
	   margin-right: 5px;
    }

    .work-plus {
	   margin-left: 5px;
	   margin-right: 5px;
    }

    .work-minus {
	   margin-left: 5px;
	   margin-right: 5px;
    }

    .break {
	   margin-right: 5px;
    }

    .break-plus {
	   margin-left: 5px;
	   margin-right: 5px;
    }

    .break-minus {
	   margin-left: 5px;
	   margin-right: 5px;
    }

    .work h2 {
	   font-size: 1em;
    }

    .break h2 {
        font-size: 1em;
    }
    
    .pomodoro {
	   max-width: 125px;
	   max-height: 125px;
    }
    
    .pomodoro h1 {
        font-size: 1.5em;
    }
    
    .pomodoro h2 {
        font-size: 1.5em;
    }

    .filler {
   	    padding-top: 0px;
   	    height: 116px;
   	    width: 116px;
   	    margin: -58px 0px 0px -58px;
    }
	   
    .reset h3 {
	   font-size: 1em;
    }
    
    .setting-lb p {
        font-size: 0.75em;
    }

    footer small {
	   font-size: 0.66em;
    }
    
}
